body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:66.3%}
fieldset,img{border:0;}
ul,ol{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration: none;color:#000;}
a:hover{text-decoration: underline;color:#000;}
small{font-size:12px;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}
label,input,select,form img,button,textarea,img{vertical-align:middle;outline:none;}
address,caption,cite,code,dfn,em,strong,th,optgroup{font-style:normal;font-weight:normal;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{display:inline-block;}
/* Hides from IE-mac \*/
* html .clear{height:1%;}
.clear{display:block;}
/* End hide from IE-mac */

html,body{height:100%;min-height: 1000px;}
body{font-family"Microsoft YaHei","微软雅黑",sans-serif;background: #4190ae;}
a:hover{text-decoration:none;}

.dn {
    display: none;
}

.popup {
    width: 100%;
    height: 2100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 350;
}


.ruleTxt {
    position: absolute;
    left: 50%;
    margin-left: -240px;
}
.formwrap {
    width: 640px;
    margin-left: -320px;
    left: 50%;
    background: url(../images/bc.jpg) no-repeat;
    background-size: 100%;
    height: 1572px;
    position: relative;
    min-height: 1572px;
}

.dn{
	display:none;
}

.pdz{
	padding-left: 0px;
    padding-right: 0px; 
    margin-bottom: 0px;
	margin-top: 0px;
}

html, body{ margin:0;  }
 
.inputForm {
	width: 470px;
	height: 47px;
	position: absolute;
	background: transparent;
	color: #FFFFFF;
	border: none;
	font-size: 30px;
} 

.sexRadio{
    left: 120px;
    top: 310px;
}

.styleRadio{
	left: 20px;
	top: 663px;
	height: 350px !important;
	position: absolute;
	color: #ffffff;
	line-height: 27px;
}

.ltArea{
	float:left;
	width: 290px;
	margin-left: 30px;
}

.rtArea{
	width: 300px;
	float: left;
}
 
.inputName{
	left: 122px;
	top: 240px;
}
.inputMobi{
	left: 122px;
	top: 373px;
}
.inputCity{
	left: 122px;
	top:  449px;;
}
.inputsuggName {
	left: 194px;
    top: 235px;
	width: 106px;
}
.inputsuggMobi {
	left: 425px;
	top: 235px;
	width: 131px;
}
.selectArea {
	font-size: 30px;
	position: absolute;
	border: none;
	width: 340px;
	height: 50px;
	border-radius: 0px;
	text-indent: 5px;
	-webkit-appearance: none;
	background: transparent;
	color: #FFFFFF;
}
.ownerCar {
	left: 200px;
	top: 141px;
}

.myCar {
        left: 40px;
    top: 531px;
    width: 556px;
}

.myStyle{
	 left: 26px;
	 top: 312px;
}
.City {
	width: 115px;
	left: 444px;
	top: 280px;
}
.province {
   width: 210px;
    left: 40px;
    top: 1197px;;

}

.dealer {
       left: 40px;
    top: 1275px;
    width: 556px;
}

.dealTime {
left: 228px;
    top: 367px;
}
.formsubmitBtn {
    left: 191px;
    top: 608px;
    position: absolute;
}
.chk {
    left: 90px;
    top: 415px;
    position: absolute;
}
.giftPic {
    left: 85px;
    top: 460px;
	position: absolute;
}

.chk2 {
    left: 98px;
    top: 388px;
    position: absolute;
}

.City2 {
	width: 115px;
	left: 444px;
	top: 164px;
}
.province2 {
	width: 474px;
	left: 120px;
	top: 422px;
}
.dealTime2 {
        left: 40px;
    top:  945px;
    width: 556px;
}
.dealer2 {
    left: 216px;
    top: 292px;
}

.myYear {
    left: 260px;
    top: 249px;
    width: 297px;
}

.formsubmitBtn2 {
left: 206px;
        top: 575px;
    position: absolute;

}

.myMoney{
	left: 40px;
    top: 1068px;
    width: 556px;
}
input[type='radio'].radio{
	opacity:0;
	display:inline-block;
	height: 40px;
	padding: 0 20px;
	width: 40px;
	background: #ffffff;
	position: absolute;
}
label.radio {
	background:url(../images/ck.png) no-repeat;
	height: 50px;
	width: 30px;
	padding-left: 35px;
	font-size:30px;
line-height:50px
}

label.radioed{
	background: url(../images/cked.png) no-repeat;
}

input[type='radio'].radio:checked + .radio {
	background:url(../images/cked.png) no-repeat;
	font-size: 30px;
}

.city{
    width: 210px;
    left: 330px;
    top: 1197px;
}
.am-img-responsive{
	width:100%;
}

.sexRadio>input[type='radio'].radio {
	opacity:0;
	display:inline-block;
	height: 30px;
	width: 30px;
	position: absolute;
	padding: 0 20px;
}
.sexRadio>label.radio {
	background:url(../images/ck.png) no-repeat;
	height: 30px;
	width: 30px;
	padding-left: 35px;
}
.sexRadio>input[type='radio'].radio:checked + .radio {
	background:url(../images/cked.png) no-repeat;
}

.submit{
	margin:0 auto;
	width:555px;
}
.submit img{
	top: 1356px;
	position: absolute;
}


.luckyDraw {
	width:100%;
	height: 100%;
	position: fixed;
	background: url(/r/cms/www/mobile/bc/images/bgdot.png);
	top: 0;
	left: 0;
}
#scratch {
	width: 460px;
    height: 105px;
    border: 0px solid #ccc;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    margin-left: -230px;
    top: 306px;
}
.luckybg {position: absolute;top: 0;left: 0;}
.notice {position: absolute;top: 432px;left: 56px;}
.guakai {position: absolute;    position: absolute;
    top: 318px;
    left: 107px;}
.unlucky {text-align: center;text-align: center;line-height: 6rem;font-size: 1.8rem;}
#card {width: 460px;height: 105px;}
#cover {
    position: absolute;
    top: 0;
    left: 0;
}
.lucky {
text-align: center;text-align: center;
}
.gongxi {
	line-height: 4rem;font-size: 1.8rem;
}
.gongxiCode {
	line-height: 1rem;font-size: 1.4rem;
}