@charset "utf-8";

/* CSS Document */
.warp_c_banner {
	width: 1000px;
	overflow: hidden;
	position: relative;
}
.warp_c_banner img {
	width: 1000px;
	height: 560px;
}
.warp_c_activity {
	width: 1000px;
	padding-top: 72px;
	text-align: center;
	background-color: #f2e3c1;
	background: url(../images/bg_qb_body.png) repeat-y 0 0;
	overflow: hidden;
}
.event_details {
	width: 100%;
	overflow: hidden;
}
.warp_c_activity h3 {
	width: 650px;
	height: 55px;
	margin: 0 auto;
	background: url(../images/title_bg.png) no-repeat center;
	font-size: 24px;
	color: #fff;
}
.general{
	width: 906px;
	margin: 8px auto 0;
}
.general_header{
	width: 100%;
	height: 5px;
	background: url(../images/bg_point_header.png) no-repeat 0 0;
}
.general_body{
	width: 100%;
	background: url(../images/bg_point_body.png) repeat-y 0 0;
	position: relative;
}
.g_bow{
	width: 166px;
	height: 175px;
	background: url(../images/icon-bow.png) no-repeat 0 0;
	position: absolute;
	top: -8px;
	right: -22px;
	z-index: 2
}
.general_bottom{
	width: 100%;
	height: 10px;
	background: url(../images/bg_point_bottom.png) no-repeat 0 0;
} 
.g_desc{
	width: 100%;
	padding-top: 50px;
	overflow: hidden;
}
.g_desc li{
	margin-left: 78px;
	background: url(../images/icon-point.png) no-repeat 0 center;
	padding-left: 14px;
	font-size: 16px;
	color: #5b2211;
	text-align: left;
}
.g_title_box{
	margin: 55px 26px 0;
	overflow: hidden;
	padding: 0
}
.g_title{
	clear: both;
	width: 100%;
	height: 37px;
	line-height: 35px;
	background:url(../images/bg_point_redtitle.png) repeat-x 0 0;
	color: #fff;
}
.g_info{
	margin: 0 26px;
	background: #f2e3c1;
	overflow: hidden;
}
.g_info_ti{
	float: left;
	margin-top: 1px;
	padding: 3px 0 5px 40px;
}
.g_info_title{
	float: left;
	font-size: 16px;
	font-weight: 500;
	color: #5b2211;
	padding: 0 15px;
}
.g_info_title span{
	display: inline;
	padding: 4px 10px;
	margin: 0 5px;
	background: #fff;
	border:1px solid #cdccca;
	font-size: 14px;
}
.g_info_in{
	clear: both;
	padding:10px 0 25px 100px;
	float: left;
}
.g_info_in li{
	width: 40%;
	float: left;
	text-align: left;
}
.g_title_box_top{
	margin: 0 26px;
	overflow: hidden;
}
.g_title_top{
	clear: both;
	width: 40%;
	float: left;
	padding-left: 10px;
	line-height: 35px;
	color: #fff;
	text-align: left;
	font-size: 24px;
	font-weight: 600
}
.g_serach{
	float: right;
}
.g_serach span{
	font-size: 14px;
}
.serach_text{
	padding: 4px 5px;
	background: #fff;
	color: #000;
	border:none;
	font-size: 14px;
}
.serach_link{
	padding-right: 40px;
	color: #fff
}
.g_table{
	margin:0 26px 0;
	overflow: hidden;
	background: #fff;
}
.g_table_t{
	width: 100%;
	border:0
}
.g_table_t td{
	width: 170px;
	height: 32px;
}
.g_table_t td .bgwhite{
	height: 32px;
	line-height: 32px;
	margin: 1px;
	color: #5b2211;
	background-color: #f2e3c1;
	font-size: 16px;
}
.g_copyright{
	padding-top: 72px;
	padding-bottom: 25px;
	font-size: 12px;
	text-align: right;
	margin-right: 26px;
	color: #5b2211;
}
.bg_qb_bottom {
	clear: both;
	width: 1000px;
	height: 12px;
	background: url(../images/bg_qb_bottom.png) no-repeat 0 0;
}