body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:66.3%}
fieldset,img{border:0;}
ul,ol{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration: none;color:#000;}
a:hover{text-decoration: underline;color:#000;}
small{font-size:12px;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}
label,input,select,form img,button,textarea{vertical-align:middle;outline:none}
address,caption,cite,code,dfn,em,strong,th,optgroup{font-style:normal;font-weight:normal;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{display:inline-block;}
/* Hides from IE-mac \*/
* html .clear{height:1%;}
.clear{display:block;}
/* End hide from IE-mac */

html,body{height:100%;min-height: 1000px;}
body{font-family"Microsoft YaHei","微软雅黑",sans-serif; background: #000;}
a:hover{text-decoration:none;}
.ploading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);	
    display: block;
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 16%;
    z-index: 9999;
}
.page {
    position: relative;
    height: 100%;
    display: block;
    width: 100%;
    color:#FFFFFF;
    overflow: hidden;
}
.swiper-container {
	left: 50%;
	margin-left: -640px;
	position: absolute;
	top: 0;
}
.logoHolder {
	position: absolute;
    height: 100%;
    display: block;
    width: 100%;
    color:#FFFFFF;
    top: 0;
    left: 0;
}
.logoHolder img {
    position: absolute;
    top: 15px;
    z-index: 300;
}
.logoHolder .logo1 {
	left: 35px;
}
.logoHolder .logo2 {
	right: 25px;
}

.p1btn2 {
	position: absolute;
	left: 345px;
	top:960px;
}
.page1Bg {

}




.p1copy1 {
	position: absolute;
	left: 50%;
	margin-left: -213px;
	top:350px;
}
.p1copy2 {
	position: absolute;
	left: 50%;
	margin-left: -232px;
	top:445px;
}
.p1btn1 {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top:541px;	
}
.popup {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
	z-index: 350;
}
.ruleTxt {;
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -270px;
}
.succWindow {;
	position: absolute;
	top: 220px;
	left: 50%;
	margin-left: -227px;
}
.sharePic {
	position: absolute;
	top: 20px;
	right:20px;
}
.movePhoneCopy {;
	position: absolute;
	top: 458px;
	left: 50%;
	margin-left: -156px;
}
.movePhone {;
	position: absolute;
	top: 528px;
	left: 50%;
	margin-left: -45px;
	-webkit-animation: myPhoneAni 1600ms infinite ease-in-out;
}

@-webkit-keyframes myPhoneAni{
	from{transform: translateX(60px);}
	to{transform: translateX(-60px);}
}

.page2,.page3,.page4 {
	height: 1028px;
	overflow: hidden;
}
.page2Wrap {
	width: 100%;
	height: 100%;
}
.page2Holder {
	position: absolute;
	left: 0;
	top: 0;
	background: url(../i/page2bg1.jpg) no-repeat;
	width: 100%;
	height: 1027px;
	-webkit-animation: page2BgAni 300ms infinite step-end;
}
@-webkit-keyframes page2BgAni{
	0%{background-position-x: 0;}
	30%{background-position-x: -1280px;}
	60%{background-position-x: -2560px;}
}
.carHolder {
	width: 509px;
	height: 316px;
	position: absolute;
	top:233px;
	left: 365px;
	overflow: hidden;
	}
.carRuning {
		-webkit-animation: carRunAni 200ms infinite steps(2);
}
@-webkit-keyframes carRunAni{
	from{transform: translateX(-509px);}
	to{transform: translateX(509px);}
}

.p2copy1 {
	position: absolute;
	left: 50%;
	margin-left: -210px;
	top:685px;
}
.p3copy1 {
	position: absolute;
	left: 50%;
	margin-left: -218px;
	top:160px;
}
.cardrive {
	width:1280px;
	position: absolute;
	left:-881px;
	top:180px;
	-webkit-transition: all ease-out 3s;
}
.cardriveIn {
	left:0;
	top:0;
}
.backWheel {
	height: 90px;
	position: absolute;
    left: 540px;
    top: 766px;
	overflow: hidden;
	
}
.backWheelimg {
	height: 90px;
}

.frontwheel {
height: 73px;
    position: absolute;
    left: 868px;
    top: 724px;
    width: 52px;
}
.page3bg {
	position: absolute;
	left: 300px;
	top: 0;
	-webkit-transition: 5000ms all ease-in-out;
}

.page3bgAni {
	left: -300px;
}

@-webkit-keyframes inten{
	from{transform: translateX(300px);}
	to{transform: translateX(-300px);}
}

/*.backWheelAni {
	position: absolute;
	left: 0;
	-webkit-animation: wheelss 2000ms steps(10) infinite ;
}
@-webkit-keyframes wheelss {
	2% {left: -180px}
	4% {left: -360px}
	6% {left: -540px}
	8% {left: -720px}
	10% {left: -900px}
	12% {left: -1080px}
	14% {left: -1260px}
	16% {left: -1440px}
	18% {left: -1620px}
	20% {left: -1800px}
}*/

.p4copy1 {
	position: absolute;
	left: 50%;
	margin-left: -218px;
	top:200px;
}
.formwrap {
	width: 640px;
	position: absolute;
	margin-left: -320px;
	left: 50%;
}
.nav {
	height: 48px;
	background-color: #000000;
}
.owner {
	height: 48px;
	width: 317px;
	border: none;
	outline: none;
	display: inline-block;
	overflow: hidden;
}
.notowner {
	height: 48px;
	width: 317px;
	border: none;
	outline: none;
	display: inline-block;
	overflow: hidden;
}
.ownerForm {
	background: url(../i/form1bg.png?20160308);
	height: 690px;
	position: relative;
	min-height: 690px;
}
.newbieForm {
	background: url(../i/form2bg.png?20160308);
	height: 690px;
	position: relative;
	min-height: 690px;
}

.inputForm {
	width: 340px;
	height: 27px;
	position: absolute;
	background: transparent;
	color: #FFFFFF;
	border: none;
	font-size: 18px;
}
.inputName {
    left: 193px;
    top: 88px;
    width: 106px;
}


.inputMobi {
	left: 425px;
    top: 88px;
    width: 131px;
}
.inputName2 {
	left: 200px;
	top: 77px;
}
.inputMobi2 {
	left: 200px;
	top: 121px;
}
.inputsuggName {
	left: 194px;
    top: 235px;
	width: 106px;
}
.inputsuggMobi {
	left: 425px;
	top: 235px;
	width: 131px;
}
.selectArea {
	font-size: 18px;
    position: absolute;
    border: none;
	width: 340px;
	height: 27px;
    border-radius: 0px;
    text-indent: 5px;
    -webkit-appearance: none;
    background: transparent;
    color: #FFFFFF;
}
.ownerCar {
	left: 200px;
	top: 141px;
}

.myCar {
    left: 187px;
    top: 207px;
}
.City {
	width: 115px;
	left: 444px;
	top: 280px;
}
.province {
    width: 138px;
    left: 190px;
    top: 280px;
}

.dealer {
    left: 228px;
    top: 325px;
}

.dealTime {
left: 228px;
    top: 367px;
}
.formsubmitBtn {
    left: 191px;
    top: 608px;
    position: absolute;
}
.chk {
    left: 90px;
    top: 415px;
    position: absolute;
}
.giftPic {
    left: 85px;
    top: 460px;
	position: absolute;
}

.City2 {
	width: 115px;
	left: 444px;
	top: 164px;
}
.province2 {
	width: 138px;
	left: 190px;
	top: 164px;
}
.dealTime2 {
    left: 225px;
    top: 336px;
}
.dealer2 {
    left: 216px;
    top: 292px;
}

.myYear {
    left: 260px;
    top: 249px;
    width: 297px;
}

.formsubmitBtn2 {
left: 206px;
        top: 575px;
    position: absolute;

}


.notice {
    left: 289px;
    top: 491px;
    position: absolute;
}
.chk2 {
    left: 98px;
    top: 388px;
    position: absolute;
}
.giftPic2 {
    left: 81px;
    top: 430px;
	position: absolute;
}

.overGray {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.95);
	position: absolute;
	top: 0;
	left: 0;
}
.p2light {
	position: absolute;
	top: 0;
	left: 0;
}
.grayBg {
	position: absolute;
	top: 0;
	left: 0;
}
.touchback {
	position: absolute;
	left: 280px;
	bottom: 10px;
}
.db {
	display: block;
}
.dn {
	display: none;
}
.test360 {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 150px;
	font-size:30px;
	z-index: 99999999;
}
.VerticalScreenTip {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #11304f;
    z-index: 888;
}
.verticalTip {
	width: 30%;
	position: absolute;
	left: 50%;
	margin-left: -15%;
	top: 25%;
}

.music {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 960px;
	right: 40px;
	z-index: 888;
}
