#youkuplayer{width: 99%;height: 590px;padding: 20px 1% 120px 2px;}

#vd-title{padding: 30px 0 0 30px;}

.m-ycyc .s-tit{width:100%;}


.track {
  width: 99%;
  margin: 0 auto;
  position: relative;
}

.axis-y .view-port,
.axis-y .track .inner {
  width: 240px;
  height: 660px;
}


.view-port {
  overflow: hidden;
  position: relative;
}

.track .inner {
  position: absolute;
  border-radius: 4px;
  background: #f2f2f2;
  width: 92%;
  left: 30px;
}

.track .inner h2 {
  font-weight: 200;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  color: #999;
}

.track .inner h2:hover {
  color: #6A3;
}


.track .pagination{padding: 70px 0px;}

.track a.prev,
.track a.next {
  display: block;
  position: absolute;
  top: 50%;
  width: 45px;
}

.track a.prev.disabled,
.track a.next.disabled {
  display: none;
}

.track a.prev {
  left: 0;
  background-position: 0 0;
}

.track a.prev:hover {
  background-position: 0 -66px;
}

.track a.prev:active {
  background-position: 0 -132px;
}

.track a.next {
  right: 0;
  /* background-position: -64px 0; */
}

.track a.next:hover {
  background-position: -64px -132px;
}

.track a.next:active {
  background-position: -64px -198px;
}

.slider-container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 166px;
}

.slider-container.big {
  height: 288px;
}

.slider-container.huge {
  height: 432px;
}

.slider-container .item {
    float:left;
    margin: 10px 10px;
    width:162px;
    height:147px;
    background:#f2f2f2;
    position:absolute;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: #ccc 0px 3px 5px;
    -moz-box-shadow: #ccc 0px 3px 5px;
    box-shadow: #ccc 0px 3px 5px;
}

.book-time{
    position: absolute;
    right:6px;
    bottom:50px;
    color:#fff;
    background-color: rgba(255,255,255,0.5);
    -moz-border-radius: 2px;/* Gecko browsers */
    -webkit-border-radius: 2px;/* Webkit browsers */
    border-radius:2px;/* W3C syntax */
    padding: 0 2px;
    }

.slider-container.big .item,
.slider-container.big .item .img-area {
  height: 288px;
}

.slider-contaiber.huge .item {
  margin-bottom: 12px;
}

.slider-container .item p {
  padding: 0;
  margin: 0;
}

.slider-container .item.cover {
  width: 940px;
}

.slider-container .item.cover-2 {
  height: 432px;
}

.slider-container .item.cover img {
  float: left;
}

.slider-container .item.cover-2 img {
  float: none;
}

.slider-container .item.cover .img-area {
  float: right;
  margin-left: 16px;
}

.slider-container .item.cover-2 .img-area {
  float: none;
  margin-left: 0;
  margin-top: 12px;
}

.slider-container .item.cover-2 .img-area .img-block:first-child {
  margin-right: 14px;
}

.slider-container .item.cover .img-block {
  height: 128px;
}

.slider-container .item.cover-2 .img-block {
  float: left;
}

.img-block {
  margin-bottom: 16px;
} 


/*车主手册*/
.ycyc .de_book { background-color: #ffffff;background:url(../../../../../cms/www/red/manual/images/book-yejiao.jpg) no-repeat right bottom;}
.tpopup{position:absolute;top: 160px;right: 12px;height: 542px;cursor: pointer;}
.tpopup .tbtn{position:absolute;right: 0;color: #888888;width:20px;top: 0;height: 148px;background: #303030;padding: 200px 2px 200px 8px;/* display: none; */border-left: 1px solid #0f0f0f;}
.tpopup .tclose{position:absolute;color: #888888;width:20px;top: 250px;background: #303030;text-align: center;padding: 10px 3px;display: none;border-right: 1px solid #0f0f0f;}
.tpopup .tgroup{top: 50px;background: #494949;padding: 0 14px;display: none;}
.tpopup .tgroup .ctype {text-align: center;color: #ffffff;padding: 50px 10px;cursor: pointer;border-bottom: 1px dashed #797979;width: 190px;}
.tpopup .tgroup .ctype img{text-align:center;margin: 8px auto;}
.tpopup .tgroup .ctype span{background:url(../../../../../cms/www/red/manual/images/sj.png)no-repeat;width: 5px;height: 9px;display: inline-block;margin-left: 5px;}
.tpopup .tclose.active{display:block;}
.tpopup .tgroup.active{display:block;}





